/*
    Typefaces: Karma, Oswald
    Text sizes: 1.4rem, 2rem
    Line-heights: 1.5
    Colours: #6f00e7, #987ffa, #000
    Gaps: 1rem
    Margins: .25em, 1.5rem
    Paddings: .5em 1.5em .7em, .25em, 1rem
    Border thicknesses: 3px
    Corner-radii: 3em, 6px
*/

html {
  font-family: Karma, serif;
  font-size: 1.4rem;
  line-height: 1.5;
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: #fff;
  margin: .75rem;
  margin-right: 4rem;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img {
  width: 70%;
}

ol {
  margin: 0;
  margin-bottom: .5rem;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: .75rem;
  padding: 0;
}

li {
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
  list-style: none;
  border-width: 3px;
  border-color: #987ffa;
  border-style: solid;
  border-radius: 6px;
  align-items: center;
  padding: .8rem;
}

h2 {
  font-family: Oswald, sans-serif;
  margin-top: 1rem;
  color: #6f00e7;
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
}

h3 {
  margin-bottom: 0;
  background-color: #6f00e7;
  color: white;
  border-radius: 3em;
  font-size: .75rem;
  padding: .5em 1rem;
  text-align: right;
}

p {
  margin: 0 .5rem;
  margin-bottom: .25rem;
  font-family: Karma, serif;
  font-size: 1.4rem;
  text-align: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: .1em;
  padding-bottom: .5em;
}

.icons {
  align-items: stretch;
  display: grid;
  grid-template-columns: 6.5rem 4rem 1.5rem 1.5rem;
  gap: .5rem;
}
